<h1>Pages#index</h1>
<p>Find me in app/views/pages/index.html.erb</p>
<!DOCTYPE html>
<html>
  <head>
    <title>Pages#index</title>
  </head>

  <body>

   <%= time_ago_in_words(Time.now + 60) %>
    <h1>Noticias de tecnología</h1>
<p>
 Lorem ipsum dolor sit amet consectetur
adipisicing elit. Repellat minus numquam
reprehenderit doloribus pariatur sunt
architecto quam nisi laboriosam neque
voluptas earum beatae facere, atque cumque
exercitationem facilis similique
blanditiis.
</p>
<p>
 <%= Time.now.strftime("%d-%m-%Y") %>

</p>
  </body>
</html>